@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(140, 157, 143);
  --secondary-color: rgb(236, 236, 236);
  --header-height: 100px;
}

body {
  background-color: var(--secondary-color);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  background-color: var(--secondary-color);
}

.header__image {
  position: absolute;
  width: 100vw;
  height: var(--header-height);
  z-index: 1;
  object-fit: cover;
}

.header__logocontainer {
  padding-inline: 10px;
  padding-block: 10px;
  background-color: transparent;
  z-index: 2;
}

.header__logo {
  font-size: 3em;
  font-weight: 900;
  color: rgb(160, 160, 160);
}

.blog__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
  padding-bottom: 50px;
}

.blogDropdown__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 20px;
  gap: 10px;
  background-color: transparent;
  align-items: center;
  width: 100vw;
  z-index: 1;
  animation: fadeIn 1s;
}

.blogDropdown__button {
  display: flex;

  align-items: center;
  gap: 10px;
  color: rgb(64, 64, 64);
  border-bottom: 1px solid rgb(84, 84, 84);
}

.blogDropdown__title {
  font-size: 1.5em;
}

.blogDropdown__icon {
  width: 12px;
  height: 9px;
}

.blogDropdown__itemcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-inline: 60px;
  padding-block: 10px;
  gap: 20px;
  border-radius: 10px;
  outline: 0.3px solid rgb(209, 209, 209);
  display: hidden;
}

.blogDropdown__item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.postsSection__container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
  background-color: rgb(236, 236, 236);
  margin-bottom: 60px;
}

.postsSection__postscontainer {
  width: 90%;
}

.postCard__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  border-radius: 8px;
  outline: 0.3px solid rgb(184, 184, 184);

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.postCard__image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/0.5;
}

.postCard__infocontainer {
  padding-inline: 15px;
  padding-bottom: 15px;
}

.postCard__title {
  font-size: 1.4em;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 20px;
}

.postCard__body {
  font-size: 1em;
  opacity: 0.6;
  margin-bottom: 20px;
}

.postCard__innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.postCard__tagcontainer {
  display: flex;
  gap: 10px;
}

.postCard__reactioncontainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postCard__reaction-image {
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.postCard__tag {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 4px;

  background-color: rgb(158, 158, 158);
  color: rgb(255, 255, 255);
}

.postCard__tag:hover {
  outline: 0.1px solid rgb(144, 144, 144);
  background-color: rgb(120, 120, 120);
  color: rgb(255, 255, 255);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.05em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]::before {
  background-color: CanvasText;
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(209, 209, 209);
}

.footer__title {
  font-size: 1em;
  color: white;
}
