@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(140, 157, 143);
  --secondary-color: rgb(236, 236, 236);
  --header-height: 100px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  background-color: var(--secondary-color);
}

.header__image {
  position: absolute;
  width: 100vw;
  height: var(--header-height);
  z-index: 1;
  object-fit: cover;
}

.header__logocontainer {
  padding-inline: 10px;
  padding-block: 10px;
  background-color: transparent;
  z-index: 2;
}

.header__logo {
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.blog__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
  padding-bottom: 50px;
}

.blogDropdown__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 20px;
  gap: 10px;
  background-color: transparent;
  align-items: center;
  width: 100vw;
  z-index: 1;
}

.blogDropdown__button {
  display: flex;

  align-items: center;
  gap: 10px;
  color: rgb(64, 64, 64);
  border-bottom: 1px solid rgb(84, 84, 84);
}

.blogDropdown__title {
  font-size: 1.2em;
}

.blogDropdown__icon {
  width: 12px;
  height: 9px;
}

.blogDropdown__itemcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-inline: 60px;
  padding-block: 10px;
  gap: 20px;
  border-radius: 10px;
  outline: 0.3px solid rgb(209, 209, 209);
  display: hidden;
}

.blogDropdown__item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.postsSection__container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
  background-color: rgb(236, 236, 236);
}

.postsSection__postscontainer {
  width: 90%;
}

.postCard__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;

  outline: 0.3px solid rgb(184, 184, 184);

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.postCard__image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/0.5;
}

.postCard__infocontainer {
  padding-inline: 15px;
  padding-bottom: 15px;
}

.postCard__title {
  font-size: 1.3em;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 20px;
}

.postCard__body {
  font-size: 0.9em;
  opacity: 0.6;
  margin-bottom: 20px;
}

.postCard__innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.postCard__tagcontainer {
  display: flex;
  gap: 10px;
}

.postCard__reactioncontainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postCard__reaction-image {
  width: 25px;
  height: 25px;
}

.postCard__tag {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 4px;

  background-color: var(--main-color);
  color: rgb(255, 255, 255);
}

.postCard__tag:hover {
  outline: 0.1px solid rgb(144, 144, 144);
  background-color: rgb(120, 120, 120);
  color: rgb(255, 255, 255);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  z-index: 99;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
